<link rel="stylesheet" href="styles.css">

<h1>All the pizzas!</h1>
<p><%= @orders[0].topping %></p>

<% @orders.each do |order|  %>
<p>Name: <%= order.pretty_name() %></p>
<p>Order: <%= order.quantity() %></p>
<p>Topping: <%= order.topping() %></p>
<p><a href="/pizza-orders/<%= order.id %>">Show Order></a></p>
<hr />
<% end %>
